  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="card">
          <%= render "events/form" %>
        </div>
        <% for event in @events %>
          <%= render "events/card", event: event %>
        <% end %>
      </div>
    </div>
  </div>
