  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <% if current_user %>
        <div class="row">
          <div class="card">
            <%= render "events/form" %>
          </div>
        </div>

      <h4 class="ui horizontal header divider">
        <a href="#">Events Scheduled</a>
      </h4>
      <% end %>
      <div class="row">
        <% for event in @events %>
          <%= render "events/card", event: event %>
        <% end %>
      </div>
    </div>
  </div>
