<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header" id="get_started_title"><%= item_with_link "get_started_title" %></h3>
    <p><%= item_with_link "get_started_text" %></p>
  </div>
</div>

<script>
  $(document).ready(function() {
    setTimeout(scroll_to_form, 500);
  });

  function scroll_to_form() {
    var get_started = $("#get_started_title");

    $('html, body').animate({
      scrollTop: ($(get_started).offset().top - 55)
    }, 500);
  }
</script>
