<!-- https://www.sharefile.com/pricing?aid=208144752149&src=google&kw=sharefile%20pricing&gclid=CjwKCAjwy_XaBRAWEiwApfjKHh6S343NI5zLTy7NpDuiH9jgeMi9ukDnMenV8iRsdFr5Vds_MZPngRoC2a8QAvD_BwE-->
<div class="ui vertical stripe segment">
  <div class="row">     
    <h3 class="ui center aligned header">Class Pricing</h3>

    <div class="ui container">
      <table class="ui celled table">
        <thead>
          <th>Class</th>
          <th>Prices</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <h4 class="ui image header">
                <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
                <div class="content">
                  Lena
                  <div class="sub header">Human Resources
                </div>
              </h4>
            </td>
            <td>
              22
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="ui image header">
                <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
                <div class="content">
                  Matthew
                  <div class="sub header">Fabric Design
                </div>
              </h4>
            </td>
            <td>
              15
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="ui image header">
                <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
                <div class="content">
                  Lindsay
                  <div class="sub header">Entertainment
                </div>
              </h4>
            </td>
            <td>
              12
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="ui image header">
                <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
                <div class="content">
                  Mark
                  <div class="sub header">Executive
                </div>
              </h4>
            </td>
            <td>
              11
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
