<% if current_user %>
  <%= form_for(@event, html: { class: "ui form", id: :new_event_form }) do |f| %>
    <div class="field">
      <label>Title</label>
      <%= f.text_field :title, placeholder: "Title" %>
    </div>

    <div class="field">
      <label>Description</label>
      <%= f.text_area :body, placeholder: "Description" %>
    </div>

    <div class="field">
      <label>Attach an image</label>
      <%= f.file_field :image %>
    </div>

    <button class="ui button" type="submit">Save</button>
  <% end %>

  <script>
    $(document).ready(function() {
      setTimeout(scroll_to_form, 500);
    });

    function scroll_to_form() {
      var edit_form = $("#new_event_form");

      $('html, body').animate({
        scrollTop: ($(edit_form).offset().top - 55)
      }, 500);
    }
  </script>
<% end %>
