/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require "semantic_ui_style"
 *= require simple_calendar
 *= require pickadate/default
 *= require pickadate/default.date
 *= require pickadate/default.time
*/

@import "font-awesome-sprockets";
@import "font-awesome";
@import "semantic-ui";

// almost all of this below needs to be resolved with pipeline, already written elsewhere

@mixin card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 15px 7.5px;
  background: white;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 94.5%;
}

.card {
  @include card;
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.25);
}

.dark_card {
  @include card;
  background: rgb(10, 10, 10);
  color: white;
}

.white_link {
  color: white;
}

.top_spacer {
  margin-top: 15%;
}

.inner_card_padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
