// Place all the styles related to the template_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// pricing css stuff

.box_stuff {
  float: left;
  width: 24.2%;
  height: 500px;
  background: blue;
  margin: .4% .4%;
}

.box_container {
  background: black;
  width: 1200px;
  min-height: 50px;
  overflow: auto;
  padding: .4% .4%;
}

// login

.login_form_sm {
  max-width: 500px;
}

.max_width_sm {
  max-width: 80%;
}

// development wall

@mixin modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  // to stop margins from collapsing
  overflow: auto;
}

.still_in_dev_wall {
  @include modal;
  background: black;
  z-index: 30;
}

.still_in_dev_wall_txt {
  color: white;
}
